{% extends '../layouts/base3.html' %}

{% block title %}
Today's Target Nutrition
{% endblock title %}

{% block contents %}
<div class="table">
    <form method="post">
    {% csrf_token %}
        <table>
            <thead>
                <tr>
                    <td class="label">今日の目標</td>
                    <td></td>
                </tr>
            </thead>
            {% with form as f %}
            <tbody>
                <tr>
                    <td class="label">{{ f.target_calorie.label }}</td>
                    <td>{{ f.target_calorie }}</td>
                </tr>
                <tr>
                    <td class="label">{{ f.target_protein.label }}</td>
                    <td>{{ f.target_protein }}</td>
                </tr>
                <tr>
                    <td class="label">{{ f.target_carbohydrate.label }}</td>
                    <td>{{ f.target_carbohydrate }}</td>
                </tr>
                <tr>
                    <td class="label">{{ f.target_lipid.label }}</td>
                    <td>{{ f.target_lipid }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="保存"></td>
                </tr>
            </tbody>
            {% endwith %}
        </table>
    </form>
</div>
{% endblock contents %}