{% extends '../layouts/base3.html' %}

{% block title %}
Today's Nutrition
{% endblock title %}

{% block contents %}
<div class="table">
    <form method="post">
    {% csrf_token %}
        <table>
            <thead>
                <tr>
                    <td><h1>今日の栄養摂取</h1></td>
                </tr>
            </thead>
            {% with form as f %}
            <tbody>
                <tr>
                    <td>{{ f.food.label }}</td>
                    <td>{{ f.food }}</td>
                </tr>
                <tr>
                    <td>{{ f.calorie.label }}</td>
                    <td>{{ f.calorie }}</td>
                </tr>
                <tr>
                    <td>{{ f.protein.label }}</td>
                    <td>{{ f.protein }}</td>
                </tr>
                <tr>
                    <td>{{ f.carbohydrate.label }}</td>
                    <td>{{ f.carbohydrate }}</td>
                </tr>
                <tr>
                    <td>{{ f.lipid.label }}</td>
                    <td>{{ f.lipid }}</td>
                </tr>
                <tr>
                    <td><button><a href="{% url 'app3:nutrition' %}">戻る</a></button></td>
                    <td><input type="submit" value="保存"></td>
                </tr>
            </tbody>
            {% endwith %}
        </table>
    </form>
</div>
{% endblock contents %}