{% extends '../layouts/base3.html' %}

{% block title %}
Delete page
{% endblock title %}

{% block contents %}
<div class="table">
    <form method="post">
    {% csrf_token %}
        <table>
            <tr class="column_names">
                <th>food</th>
                <th>calorie</th>
                <th>protein</th>
                <th>carbohydrate</th>
                <th>lipid</th>
                <th>created_at</th>
            </tr>
            <tr>
                <th>{{ nutritions.food }}</th>
                <th>{{ nutritions.calorie }}</th>
                <th>{{ nutritions.protein }}</th>
                <th>{{ nutritions.carbohydrate }}</th>
                <th>{{ nutritions.lipid }}</th>
                <th>{{ nutritions.created_at }}</th>
            </tr>
            <tr>
                <th><input type="submit" value="delete!"></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th><button><a href="{% url 'app3:nutrition' %}">戻る</a></button></th>
            </tr>
        </table>
        
    </form>
</div>
{% endblock contents %}