{% extends '../layouts/base3.html' %}

{% block title %}
Today's Nutrition
{% endblock title %}

{% block contents %}
<div class="table">
    <table>
        <tr class="column_names">
            <th>food</th>
            <th>calorie</th>
            <th>protein</th>
            <th>carbohydrate</th>
            <th>lipid</th>
            <th>created_at</th>
            <th>update</th>
            <th>delete</th>
        </tr>
        
        <tr class="sum">
            <td>合計値：</td>
            <td>{{ sum_calorie }}</td>
            <td>{{ sum_protein }}</td>
            <td>{{ sum_carbohydrate }}</td>
            <td>{{ sum_lipid }}</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        
        {% for nutrition in nutritions %}
        <tr>
            <td>{{ nutrition.food }}</td>
            <td>{{ nutrition.calorie }}</td>
            <td>{{ nutrition.protein }}</td>
            <td>{{ nutrition.carbohydrate }}</td>
            <td>{{ nutrition.lipid }}</td>
            <td>{{ nutrition.created_at }}</td>
            <td><button><a href="{% url 'app3:update_nutrition' nutrition.id %}">編集</a></button></td>
            <td><button><a href="{% url 'app3:delete_nutrition' nutrition.id %}">削除</a></button></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock contents %}