{% extends '../layouts/base2.html' %}

{% block title %}
Today's Condition
{% endblock title %}

{% block contents %}
<div class="table">
    <form method="post">
    {% csrf_token %}
        <table>
            <thead>
                <tr>
                    <td class="label">今日のコンディションは？</td>
                </tr>
            </thead>
            {% with form as f %}
            <tbody>
                <tr>
                    <td class="label">{{ f.height.label }}</td>
                    <td>{{ f.height }}</td>
                </tr>
                <tr>
                    <td class="label">{{ f.weight.label }}</td>
                    <td>{{ f.weight }}</td>
                </tr>
                <tr>
                    <td class="label">{{ f.fat.label }}</td>
                    <td>{{ f.fat }}</td>
                </tr>
                <tr>
                    <td class="label">{{ f.waist.label }}</td>
                    <td>{{ f.waist }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="保存"></td>
                </tr>
            </tbody>
            {% endwith %}
        </table>
    </form>
</div>
{% endblock contents %}