{% extends '../layouts/base2.html' %}

{% block title %}
Today's Condition
{% endblock title %}

{% block contents %}
<form method="post">
    {% csrf_token %}
    <table>
        <thead>
            <tr>
                <td><h1>今日のコンディションは？</h1></td>
            </tr>
        </thead>
        {% with form as f %}
        <tbody>
            <tr>
                <td>{{ f.height.label }}</td>
                <td>{{ f.height }}</td>
            </tr>
            <tr>
                <td>{{ f.weight.label }}</td>
                <td>{{ f.weight }}</td>
            </tr>
            <tr>
                <td>{{ f.fat.label }}</td>
                <td>{{ f.fat }}</td>
            </tr>
            <tr>
                <td>{{ f.waist.label }}</td>
                <td>{{ f.waist }}</td>
            </tr>
            <tr>
                <td><button><a href="{% url 'app2:index' %}">index</a></button></td>
                <td><input type="submit" value="save"></td>
            </tr>
        </tbody>
        {% endwith %}
    </table>
</form>
{% endblock contents %}