{% extends '../layouts/base2.html' %}

{% block title %}
Conditions
{% endblock title %}

{% block contents %}
<div class="tabel">
    <table>
        <tr class="column_names">
            <th>height</th>
            <th>weight</th>
            <th>fat</th>
            <th>waist</th>
            <th>created_at</th>
            <th>update</th>
            <th>delete</th>
        </tr>
        {% for condition in conditions %}
        <tr>
            <td>{{ condition.height }}</td>
            <td>{{ condition.weight }}</td>
            <td>{{ condition.fat }}</td>
            <td>{{ condition.waist }}</td>
            <td>{{ condition.created_at }}</td>
            <td><button><a href="{% url 'app2:update_condition' condition.id %}">編集</a></button></td>
            <td><button><a href="{% url 'app2:delete_condition' condition.id %}">削除</a></button></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock contents %}