<table>
    <tr>
        <th>height</th>
        <th>weight</th>
        <th>fat</th>
        <th>waist</th>
        <th>created_at</th>
    </tr>
    {% for condition in conditions %}
    <tr>
        <th>{{ condition.height }}</th>
        <th>{{ condition.weight }}</th>
        <th>{{ condition.fat }}</th>
        <th>{{ condition.waist }}</th>
        <th>{{ condition.created_at }}</th>
        <th><a href="{% url 'app2:update_condition' condition.id %}">Update</a></th>
        <th><a href="{% url 'app2:delete_condition' condition.id %}">Delete</a></th>
    </tr>
    {% endfor %}
    <a href="{% url 'app2:create_condition' %}">forms</a>
</table>

<p><a href="{% url 'app3:nutrition' %}">nutrition</a></p>
<div class="graph">
    <img src="{% url 'app2:plot' %}" width=1200 height=1200>
</div>