/* app1 */
.background{
    position: relative;
}

.start_frame{
    border: solid 1px black;
    width: 500px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(100%) translateX(-50%);
    position: relative;
}

.start_text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

/* app2 */
table, tr, th, thead, tbody{
    border: solid 1px black;
}

img{
    display: block;
    margin: 0 auto;
}

table{

    margin: 0 auto;
}

tr:nth-child(odd){
    background-color: rgb(0, 0, 0);
    color: white;
}
/* app3 */